.logo {
    width: 20px;
    height: 40px;
    padding: 0cm;
    margin-right: 10px;
}
header {
    width: 100%;
    height: 80px;
    background: #3b2c19;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topnav {
  background-color: #3b2c19;
  overflow: hidden;
  position: relative;
  border-radius: 0 0 0 0;
}

.topnav a {
  float: left;
  color: #ffee01f9;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  display: block;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 40;
}

.topnav a:hover {
  background-color: #000000;
  color: #ffffff;
}
.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }

.topnav-wrap .topnav {
    max-width: 1300px;
    margin: 0 auto;
    border-radius: 0 0 0 0;
}
.text {
    font-family: cursive;
    text-align: left;
}
.rest {
    border: 2px solid #000000;
    font-family: cursive;
    background-color: #b8874d;
    text-align: left;
    padding-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.rest2 {
    border: 2px solid #000000;
    font-family: cursive;
    background-color: #b8874d;
    text-align: left;
    padding-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.WayCharacter {
    font-size: x-large;
}
table, th, td {
    border:1px solid black;
    text-align: center;
    width: 50%;
    height: 50%;
  }
.damage {
    border: 2px solid #000000;
    font-family: cursive;
    background-color: #b8874d;
    text-align: left;
    padding-left: 20px;
    margin-right: 10px;
    padding-top: 10px;
}
.white {
    border: 2px;
    background-color: rgb(192, 192, 192);
}
.green {
    border: 2px;
    background-color: rgb(4, 171, 4);
}
.blue {
    border: 2px;
    background-color: rgb(92, 131, 238);
}
.purple {
    border: 2px;
    background-color: #d841f0;
}
.violet {
    border: 2px;
    background-color: #d773e7;
}
.red {
    border: 2px;
    background-color: #ea4545;
}
.orange {
    border: 2px;
    background-color: #d8773f;
}